/* HOME PAGE */

body {
    padding: 0;
    margin: 0;
    height: 200vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, #e4e4e4, #ffffff00);
}

#menu-icon {
    width: 32px;
    height: 32px;
    padding: 32 32 0 0;
    cursor: pointer;
    transform-origin: 25% 75%;
    transition-duration: 1s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-name {
    position: fixed;
    top: 30.03vh;
    left: 23.86vw;
    margin: 0;
    padding: 32px 0 0 32px;
    line-height: 96%;

    /* FONT STYLING */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 7vh;
}

#sub-title {
    width: 40vw;
    margin: 42vh 0 0 0;

    /* FONT STYLING */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 3vh;
    color: #0000009a;
}

#sider {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 13vw;
    transform: translateX(150%);
    height: 100vh;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.363);
}

.list {
    padding: 96px 2.4vw;
}

#sider p {
    margin: 0;
    line-height: 180%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2vh;
    color: #00000080;
    white-space: nowrap;
    transition-duration: 0.2s;
}

#sider p:hover {
    color: #000000;
}

#mid-line {
    transform-origin: center;
    transition-duration: 1s;
}

#top-line {
    transform-origin: center 9px;
    transition-duration: 1s;
}
#bottom-line {
    transform-origin: 8px 22px;
    transition-duration: 0.1s;
}
