/* HOME PAGE */

:root {
    --open-sider-duration: 0.8s;
}

body {
    padding: 0;
    margin: 0;
    height: 200vh;
    overflow-x: hidden;
    background-color: #fafafa;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, #e4e4e4, #ffffff00);
}

#menu-icon {
    width: 32px;
    height: 32px;
    padding: 32 32 0 0;
    cursor: pointer;
    transform-origin: 25% 75%;
    transition-duration: var(--open-sider-duration);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-name {
    position: fixed;
    top: 30.03vh;
    left: 23.86vw;
    margin: 0;
    padding: 32px 0 0 32px;
    line-height: 96%;
    cursor: pointer;

    /* FONT STYLING */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 7vh;
}

#sub-title {
    width: 40vw;
    margin: 42vh 0 0 0;

    /* FONT STYLING */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 3vh;
    color: #0000009a;
}

#sider {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 13vw;
    transform: translateX(150%);
    height: 100vh;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.363);
    transition-duration: var(--open-sider-duration);
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: 32 15 0 0;
    cursor: pointer;
}

.list {
    padding: 96px 2.4vw;
}

#sider p {
    margin: 0;
    line-height: 180%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2vh;
    color: #00000080;
    white-space: nowrap;
    transition-duration: 0.2s;
    cursor: pointer;
}

#sider p:hover {
    color: #000000;
}

#mid-line {
    transform-origin: center;
    transition-duration: var(--open-sider-duration);
}

#top-line {
    transform-origin: center 9px;
    transition-duration: var(--open-sider-duration);
}
#bottom-line {
    transform-origin: 8px 22px;
    transition-duration: 0.1s;
}

#about-wrapper {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    width: 70vw;
    padding: 50vh 5vw;
}

#about-pic {
    height: 40vh;
    aspect-ratio: calc(3 / 4);
    background-color: transparent;
    transform: translateX(calc(100vw));
    transition: 0.8s ease-in-out;
}

#about-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24vw 8vh 5vw;
}

#about-txt h1 {
    transform: translateX(calc(100vw));
    transition: 0.8s ease-in-out;
}

#about-txt p {
    transform: translateX(calc(100vw));
    transition: 0.8s ease-in-out;
}

#about-txt > a {
    text-align: right;
    transform: translateX(calc(100vw));
    transition: 0.8s ease-in-out;
}
